$primary-color: hsl(322, 100%, 66%);
$bg-dark-cyan: hsl(192, 100%, 9%);
$bg-pale-blue: hsl(207, 100%, 98%);

@mixin button {
    border-radius:50px;
    outline:none;
    border:1px solid $primary-color;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
button.btn {
    @include button;
    background:$primary-color;
    color:$bg-pale-blue;
    padding:1.4em 5.2em;
    margin:2em auto;
    font-weight: 600;
    box-shadow: 0 2px 8px rgb(177, 177, 177);
    transition: transform 0.3s;
    font-size: 1em;
    @media (max-width:800px) {
        padding:1.2em 4.5em;
        margin: 5em auto;
    }
    
    &:hover {
        transform: scale(1.05);
    }
}
html,body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{

    font-family: 'Open Sans', sans-serif;
    @media (max-width:800px) {
        font-size: 0.7rem;
    }
}
.wrapper {
    max-width:1440px;
    margin:0 auto;
}
h1,h2{
    font-family: 'Poppins', sans-serif;
    color:$bg-dark-cyan;
}
p {
    color:$bg-dark-cyan;
}

header.header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin:3em auto 8em auto;
    padding:0 2em;
    align-items: center;
    .logo{
        width:11em;
    img {
        display: block;
        max-width:100%;
      }
    }
    .header-btn {
        @include button;
        background:none;
        padding:0.6em 2.3em;
        color:$primary-color;
        &:hover {
            background: $primary-color;
            color:white;
        }
    }
    
}

section.title-section {
    text-align: center;
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
h1.title{
    font-size: 2.6em;
    margin:0.5em;
}
p.description {
    text-align: center;
    display: block;
    margin:0 auto;
    font-weight: 400;
    font-size: 1rem;
    width:500px;
    @media (max-width:800px) {
        width:90%;
    }
}

img.screens{
    margin:3em auto;
    width:65%;
    @media (max-width:800px) {
        width:80%;
    }
}

}
div.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    max-width:800px;
    @media (max-width:800px) {
        justify-content:center;
    }
    div.stat {
        display: flex;
        flex-direction: column;
        margin:3em;
        div.stat-img {
            width:30px;
            padding-left:5px;
            img{
                max-width: 100%;
            }
        }
        div.stat-number {
            font-size: 4.5em;
            font-weight: 800;
            color:$bg-dark-cyan;
            align-self: flex-start;
            margin:0;
            padding:0;
        }
        span.stat-description {
            text-align: center;
            font-size: 1.1em;
            color:gray;
        }

    }
}
section.section-b {
    height:800px;
    background:url('images/bg-section-top-desktop-1.svg') top center no-repeat, 
    url('images/bg-section-bottom-desktop-1.svg') bottom center no-repeat ;
    background-size: 1920px;
    @media (max-width:1440px) {
        background-size: 1440px;
        div.section-container {
            height:530px;
        }
    }
        @media (max-width:800px) {
        background-size: 800px;
        div.section-container {
            height:660px;
        }
    }
    @media (max-width:375px) {
        height:700px;
        background:url('images/bg-section-top-mobile-1.svg') top center no-repeat, 
        url('images/bg-section-bottom-mobile-1.svg') bottom center no-repeat ;
        background-size: 375px;
        div.section-container {
            height:550px;
            transform:translateY(30px)
        }
    }
}

section.section-c {
    height:600px;
    div.section-container {
        background-color: white;
        div.section-content{
            flex-direction: row-reverse;
            div.section-text {
                box-sizing: border-box;
                padding-left:10em;
                p{
                    width:95%;
                }
            }
            @media (max-width:800px) {
                flex-flow:column-reverse wrap;
                margin:3em;
                justify-content: center;
                div.section-text {
                    width:100%;
                    text-align: center;
                    margin-top:5em;
                    padding-left:0;
                    p{
                        width:100%;
                        font-size: 1.2em;
                        
                    }
                }
                div.illustration {
                    width:90%;
                }
            }}
        }
    }
    @media (max-width:1440px) {
    background-size: 1440px;
    div.section-container {
        height:630px;
    }
}
section.section-d {
    height:750px;
    background:url('images/bg-section-top-desktop-2.svg') top center no-repeat, 
    url('images/bg-section-bottom-desktop-2.svg') bottom center no-repeat ;
    background-size: 1920px;
    @media (max-width:1440px) {
        background-size: 1440px;
        div.section-container {
            height:480px;
        }
    }
        @media (max-width:800px) {
        background-size: 800px;
        div.section-container {
            height:610px;
        }
    }
    @media (max-width:375px) {
        background:url('images/bg-section-top-mobile-2.svg') top center no-repeat, 
        url('images/bg-section-bottom-mobile-2.svg') bottom center no-repeat ;
        background-size: 375px;
        div.section-container {
            height:550px;
            align-items: flex-start;
        }
    }
}
section.section-e {
    height:400px;
    display: flex;
    flex-flow: column;
    text-align:center;
     h2{
         font-size: 2em;
         margin:0;
         padding:0;
     }
     button.btn{   
        @media (max-width:800px) {
            margin: 2em auto;
        }
        @media (max-width:375px) {
            margin: 3em auto;
        }
     }
}
    .bg{
        background:url('images/bg-footer-top-desktop.svg') top center no-repeat;
        background-size: 1920px;
        height:205px;
        width:100vw;
        @media (max-width:375px) {
            background:url('images/bg-footer-top-mobile.svg') top center no-repeat;
            background-size: 375px;
            height:45px;
        }
    }
footer.section-footer {
    overflow: hidden;
   
    div.section-container {
        background:$bg-dark-cyan;
        align-items: center;
        height:530px;
        div.section-content{
            justify-content: space-between;
            width:100vw;
            align-items:flex-start;

            div.contact-info,div.newsletter{
                h3{
                    margin-top:0;
                    font-size: 1.5rem;
                }
                h3,p{
                    color:$bg-pale-blue;
                }
                p{
                    width:350px;
                    margin-bottom:2.5em;
                    font-size: 0.9rem;
                    line-height: 1.5rem;
                    @media (max-width:1200px) {
                        width:310px;
                    }
                    
                }}
                //CONTACT
                div.contact-info {
                    margin:4em 6em;
                @media (max-width:1200px) {
                    margin:2em 3em;
                    width:310px;
                }
                    svg{
                        transform-origin: 0;
                        transform: scale(0.8);
                    }
                    p {
                        max-width:300px;
                    }
                    .phone,.email{
                        display:flex;
                        align-items:center;
                        img{
                            padding-right:10px;
                        }
                    }
                    div img + p {
                        margin:0;
                        padding:0.5em;
                    }
                    div.social-icons {
                        margin:3em 0;
                        i{
                            font-size: 2.1em;
                            color:white;
                            padding:0.5em;
                            cursor: pointer;
                            &:hover{
                            transform: scale(1.1);
                            }
                            &:first-child {
                                padding-left:0;
                            }
                        }
                        
                    }
                }
                //NEWSLETTER SUBSCRIPTION
                div.newsletter{
                    margin:4em 0 4em 6em;
                    @media (max-width:1200px) {
                        margin:2em 3em;
                    }
                    @media (max-width:800px) {
                        margin:6em 0;
                    }
                div.input-field{
                    width:600px;
                    display: flex;
                    flex-wrap: wrap;
                    @media (max-width:1200px) {
                        width:300px;
                    }
                input.newsletter-input{
                    width:300px;
                    border-radius: 5px;
                    padding:1em;
                    border:0;
                    outline:0;
                }
                button.btn-input{
                    @include button;
                    border-radius: 5px;
                    padding:0.85em 3em;
                    margin-left:2.5em;
                    
                    border:0;
                    background:$primary-color;
                    color:white;
                    font-weight: 600;
                    &:hover {
                        transform:scale(1.1);
                    }
                    @media (max-width:1200px) {
                        margin:1em 0 0 auto;
                    }
                }
            }
            }
        }
    }
    @media (max-width:1440px) {
        background-size: 1440px;
        div.section-container {
            height:630px;
        }
    }
    @media (max-width:800px) {
        background-size: 800px;
        div.section-container {
            height:770px;
            div.section-content{
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            }
        }
    }
    
}
.attribution {
    background:$bg-dark-cyan;
    margin:0;
    color:white;
    padding:1em;
    font-size: 11px; 
    text-align: center;
}
    .page-section { 
        display: flex;
        align-items: center;
        justify-content: center;
        width:100vw;
       
        div.section-container {
        display: flex;
        align-items: center;
        justify-content:center;
        height:430px;
        width:100%;
        background-color: $bg-pale-blue;
        background-size: 100vw;
        
        div.section-content {
            display: flex;
            justify-content: center;
            align-items: center;
            
            div.section-text {
                width:50%;
                h2{
                    font-size: 2em;
                    
                }
                p{
                    width:74%;
                }
            }
            div.illustration {
                width:35%;
                img{
                    max-width:100%;
                }
            }
 
    @media (max-width:800px) {
        flex-flow:column-reverse wrap;
        margin:3em;
        justify-content: center;
        div.section-text {
            width:100%;
            text-align: center;
            margin-top:5em;
            p{
                width:100%;
                font-size: 1.2em;
            }
        }
        div.illustration {
            width:90%;
        }
    }
}
    
    }
}